<!DOCTYPE <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Assignment</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="container">
            <form>
                <span class="entername">Enter your name</span>
                <input type="text" placeholder="Name" class="input-name">
                <div class="error-message"></div> <!-- Add this line -->
                <button class="btn">Get Greeting</button>
                <div class="greeting-message"></div> <!-- Greeting message container -->
            </form>
        </div>
        
        
        <script src="script.js" async defer></script>
    </body>
</html>