body{
    font-family: 'Press Start 2P', sans-serif;
    background-color: #eadbdd;
    display: flex;
}

.container{
    height: 600px;
    width: 500px;
    background-color: #de859c;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    margin: auto;

}

.entername{
    margin-left: 125px;
}

.input-name {
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 250px;
    outline: 0;
    padding: 20px;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 120px;
    font-family: 'Press Start 2P', sans-serif;

}

.btn{
    background-color: #cb4f85;
    color: white;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
    font-weight: 600;
    font-size:  1rem;
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-top: 60px;
    margin-left: 110px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.btn:hover{
    opacity: 0.9;
}

.btn:active{
    transform: translate(1px, 1px);
}

.input{
    animation: none;
}

.input-err {
    animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
.error-message {
    color: white;
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
}

.greeting-message {
    color: white;
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
    margin-top: 20px; 
}